
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Grechen+Fuemen&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&family=Pacifico&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Sigmar&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Grechen+Fuemen&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Sigmar&display=swap');


*{
    margin: 0;
    font-family: "Oswald", serif;
}

button{
    cursor: pointer;
}

body{
    display: flex;
    background-color: white;
    height: 100vh;
    overflow: hidden;
}
.navi{
    background-color: rgb(250, 249, 252);
    width: 5%;
    border-right: 2px solid rgb(241, 236, 236);  
}

.nav-header{
    padding: 10px 0;
    width: 100%;
}


.nav-header .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.nav-header span{

    background-color: rgb(250, 249, 252);
    font-size: 2rem;
    font-weight: bold;
    font-family: "Sigmar", serif;
}

.nav-body{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    overflow-y: auto; /* Enable vertical scrolling */
    height: 70vh; /* Set height to full viewport height */
}


/*WEBKIT SCROLLBAR*/
/* General scrollbar styling */
.nav-body::-webkit-scrollbar {
    width: 1px; /* Width of the scrollbar */
}

/* Track (the background of the scrollbar) */
.nav-body::-webkit-scrollbar-track {
    background: rgb(241, 236, 236); /* Light gray background */
    border-radius: 4px; /* Rounded corners */
}

/* Handle (the draggable part of the scrollbar) */
.nav-body::-webkit-scrollbar-thumb {
    background: rgb(200, 200, 200); /* Gray scrollbar handle */
    border-radius: 4px; /* Rounded corners */
    border: 2px solid rgb(241, 236, 236); /* Match the track color */
}

/* Handle on hover */
.nav-body::-webkit-scrollbar-thumb:hover {
    background: rgb(150, 150, 150); /* Darker gray on hover */
}
/* EXIT WEBKIT SCROLLBAR*/




.nav-body .nav-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 100%;
}

.nav-body .nav-icon a{
    text-decoration: none;
}


.nav-body .nav-icon .menu{
    display: flex;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    margin: 1px;
    border-radius: 5px;
}



.nav-body .nav-icon .submenu{

    background-color: rgb(236, 235, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    width: 100%;
    font-family: "Anton", serif;
}

.nav-body .nav-icon .menu:hover{
    background-color: rgb(212, 212, 212);
}

.nav-body .nav-icon a svg{
    width: 2rem;
}

.nav-body .nav-icon .submenu a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    width: 100%;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    height: 5rem;
}

.nav-body .nav-icon .submenu a:hover{
    background-color: rgb(221, 221, 221);
}


.nav-body .nav-icon .submenu a svg{
    width: 1.5rem;
}

.nav-body .nav-icon .submenu span{
    text-align: center;
    font-size: 10px;
    color: #000;
    line-height: 15px;
}



/*EXIT NAVI CSS*/




/*CONTENT CSS*/
.content-body{
    width: 95%;
    padding: 0 1rem;
}


/*content header*/
.content-header{
    display: flex;
    margin: 10px 0;
    /* background-color: red; */
}

.content-header .homespace{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-header .homespace .page-title{
    font-size: 2rem;
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
}

.content-header .homespace .company{
    position: relative;
    
}

.content-header .homespace .company .company-down,
.content-header .workspace .logout .logout-down{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: .5rem 0;
    border-radius: 3px;
    display: none;
}

.content-header .homespace .company .company-down a,
.content-header .workspace .logout .logout-down a{
    border-bottom: 1px solid #ddd;
    color: #000;
    background-color: rgb(241, 246, 248);
    padding: 1rem;
    text-decoration: none;
    border-radius: 3px;
}

.content-header .homespace .company .company-down a:hover,
.content-header .workspace .logout .logout-down a:hover{
    background-color: rgb(236, 236, 238);
}

.content-header .homespace .company .company-down a:last-child,
.content-header .workspace .logout .logout-down a:last-child{
    border-bottom: none;
}

.content-header .homespace .company .company-down a i,
.content-header .workspace .logout .logout-down a i{
    width: 1rem;
    margin-right: 1rem;
}

.content-header .homespace .company button{
    display: flex;
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 5px;
    justify-content: space-between;
    padding: .25rem 1rem;
    gap: 1rem;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.content-header .homespace .company button .icon{
    font-size: 1rem;
}

.content-header .homespace .company button .icon i{
    color: rgb(12, 177, 12);
}


.content-header .homespace .company button .arrow{
    font-size: .5rem;
}

.content-header .homespace .company button .details{
    display: flex;
    flex-direction: column;
}

.content-header .homespace .company button .details .name{
    font-size: 15px;
    font-weight: bold;
}

.content-header .homespace .company button .details .location{
    color: #8f8f91;
    font-size: 10px;
}


/*workspace*/
.content-header .workspace{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
    padding: 0 1rem;
}

.content-header .workspace .schedule .greetings span:first-child{
    color: #939596;
    font-weight: bold;
}

.content-header .workspace .schedule .greetings span:last-child{
    font-weight: bold;
}

.content-header .workspace .schedule{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin: 0 1rem;
    align-items: center;
}

.content-header .workspace .schedule .time{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-header .workspace .schedule .time span:last-child{
    color: #939596;
}

.content-header .workspace .operation{
    display: flex;
    gap: 1rem;
}

.content-header .workspace .operation .logout{
    position: relative;
}

.content-header .workspace .operation button{
    height: 1.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    gap: .5rem;
}

.content-header .workspace .operation button:hover{
    box-shadow: none;
}

.content-header .workspace .operation button span{
    font-family: "Saira Extra Condensed", serif;
    font-size: 1.2rem;
}

.content-header .workspace .logout .logout-down{
    width: 350%;
    right: 0;
}

/*exit content header*/


/*main content*/
.main-content{
    width: 100%;
}

/*inline page header*/

.main-content .inline-page-header a{
    margin: 1rem;
    text-decoration: none;
    color: #657179;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

.main-content .inline-page-header a.active{
    font-size: 17px;
    color: #000;
    border-bottom: 2px solid rgb(78, 78, 78);
}


/*inline page body*/

.inline-page-body {
    position: relative;
    overflow-y: auto;
    height: 80vh;
    margin: 10px 0;
}

/*webkit*/
.inline-page-body::-webkit-scrollbar {
    width: 10px;
}


.inline-page-body::-webkit-scrollbar-track {
    background: rgb(241, 236, 236);
    border-radius: 4px;
}


.inline-page-body::-webkit-scrollbar-thumb {
    background: rgb(200, 200, 200);
    border-radius: 4px;
    border: 2px solid rgb(241, 236, 236);
}


.inline-page-body::-webkit-scrollbar-thumb:hover {
    background: rgb(150, 150, 150);
}
/* exit webkit*/



.main-content .inline-page-body .page {
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease;
    pointer-events: none;
}

.main-content .inline-page-body .page.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/*options tab*/
.options-tab{
    position: relative;
    box-sizing: border-box;
    padding: 0 1rem;
}

.options-tab .ot-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options-tab .ot-flex .more-options{
    display: flex;
    align-items: center;
}

.options-tab .ot-flex .more-options svg{
    width: 2rem;
    cursor: pointer;
}

.options-tab .ot-flex .operative-options{
    display: flex;
    gap: 1rem;
}

.options-tab .ot-flex .operative-options button{
    display: flex;
    border-radius: 5px;
    border: 1px solid #bfc0c2;
    padding: .25rem 1rem;
    transition: all 1s ease-out;
}

/* .options-tab .operative-options button:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: none;
} */

.options-tab .ot-flex .operative-options button:nth-child(1){
    background-color: rgb(99, 99, 224);
    color: #fff;
    gap: .5rem;
    
}

.options-tab .ot-flex .operative-options button:nth-child(2),
.options-tab .ot-flex .operative-options button:nth-child(3){
    gap: .5rem;
}

.options-tab .extra-tab .extra-options,
.options-tab .extra-tab .register{
    position: absolute;
    background-color: rgb(249, 253, 253);
    left: 0;
    top: calc(100% + 10px);
    min-height: 5rem;
    border-radius: 0 0 10px 10px;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: none;
}

.options-tab .extra-tab .register{
    /* display: block; */
}

.options-tab .extra-tab .register .reg-heading{
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: #99999b;
}

.options-tab .extra-tab .register form .form-submit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 1rem 0;
}

.options-tab .extra-tab .register form .form-section .sec{
    display: flex;
    gap: 1rem 3rem;
    flex-wrap: wrap;
}




.options-tab .extra-tab .register form .form-section .sec label{
    color: #939596;
}

.options-tab .extra-tab .register form .form-section .sec input,
.options-tab .extra-tab .register form .form-section .sec textarea{
    border-radius: 3px;
    border: 1px solid #ddd;
    width: 10rem;
    height: 2.5rem;
    padding: 0 1rem;
    color: #5a5b5c;
    font-family: "Josefin Sans", serif;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.options-tab .extra-tab .register form .form-section .sec:last-child input{
    height: 5rem;
    width: 40rem;
    font-size: 1rem;
}

.options-tab .extra-tab .register form .form-section .sec textarea{
    height: 5rem;
    width: 40rem;
    font-size: .8rem;
}

.options-tab .extra-tab .register form .form-section .sec input[type="number"]{
    text-align: right;
}



.options-tab .extra-tab .register form .form-section .sec label span{
    color: red;
}

.options-tab .extra-tab .register form .form-submit button{
    display: flex;
    gap: .5rem;
    align-items: center;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 1rem;
}

.options-tab .extra-tab .register form .form-submit button:hover{
    box-shadow: none;
}

.options-tab .extra-tab .register form .form-submit button.cancel{
    background-color: rgb(211, 193, 193);
}

.options-tab .extra-tab .register form .form-submit button.confirm{
    background-color: rgb(95, 177, 95);
}

.options-tab .extra-tab .register form .form-submit button i{
    font-size: 1.2rem;
}

.options-tab .extra-tab .extra-options .eo-flex{
    display: flex;
    gap: 2rem;
}

.options-tab .extra-tab .extra-options svg{
    width: 1.2rem;
}

.options-tab .extra-tab .extra-options a{
    text-decoration: none;
}

.options-tab .extra-tab .extra-options button{
    display: flex;
    gap: .5rem;
    border: none;
    background-color: rgb(183, 187, 143);
    padding: .5rem 1rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}